# Temporary test files
test_cli_fixes.py

# Node
node_modules/

# Byte-code files
*.pyc
__pycache__/

# Virtual environment
.venv/
venv/
env/

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.smp

# Build artifacts
dist/
build/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django Stuff
*.log
local_settings.py
db.sqlite3

# Flask Stuff
instance/
.webassets-cache

# Scrapy Stuff
.scrapy

# Sphinx documentation
docs/_build/

# Jupyter Notebook files
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# PyEnv
.python-version

# Celery
celerybeat-schedule

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Environment variables
.env


logs/
